<div class="center">
	<h1>You have completed this deck.  What would you like to do next?</h1>
</div>

<div class="center">
	<button onclick="window.location='/decks/<%= @deck.id %>/study'" class="button-large">Study again</button>
	<button onclick="window.location='/decks/<%= @deck.id %>'" class="button-large">Go back to the deck page</button>
</div>