<div class="center">
	<h1>Create a new deck</h1>	
</div>

	
<form action="/decks" method="POST" autocomplete="off">
<div class="center">
	<label for="deck_name" class="accessible-hidden">What is this deck's name?</label>
	<input type="text" name="deck_name" id="deck_name" placeholder="What is this deck's name?" autofocus autocomplete="off">
	<label for="keywords" class="accessible-hidden">What are some keywords to describe this deck? (Seperate by comma)</label>
	<input type="text" name="keywords" id="keywords" placeholder="What are some keywords? (comma seperated)">
	<label class="switch">
	  <input type="checkbox" name="selection">
	  <span class="slider"></span>
	</label>
</div>
<div class="center">
	<input type="submit" value="Create it">
	<!-- instead of  submitting when a duplicate deck name is used with no feed back, use message to indicate needed correction -->
</div>
</form>
<div class="center">
	<button onclick="window.location='/users/<%= @user.id %>';" class="button-small">
		Cancel
	</button>
</div>