<div class="center">
	<h1>Hmmmmmmm.....</h1>
</div>
<div class="error-text center-column">
	<h2>That deck doesn't exist</h2>
	<h2>那个副牌不存在</h2>
	<h2>Wala ang deck iyon</h2>
	<h2>Эта колода карт не существует</h2> 
	<h2>Mpekere kaadị ahụ adịghị</h2>
	<h2>그 카드 덱은 존재하지 않습니다</h2>
	<h2>Huo kadi ya kadi haipo</h2>
	<h2>Ce jeu de carte n'existe pas</h2>
	<h2>สำรับไพ่นั้นไม่มีอยู่จริง</h2>
	<button onclick="window.location='/users/<%= @user.id %>'" autofocus>Take me back</button>
</div>