<div class="center">
	<div class="card-area" hidden="true">
		<div class="card">
			<div class="card-face card-front">
				Front
			</div>
			<div class="card-face card-back">
				Back
			</div>
		</div>
	</div>
</div>
