<div class="center">
	<div class="card-area" id="card-area">
		<i class="far fa-check" id="checkmark"></i>
		<i class="far fa-times" id="big-x"></i>
		<div class="card" id="card" >
			<div class="card-face card-front" id="front">
				Front
			</div>
			<div class="card-face card-back" id="back">
				<p id="question">Front</p>
				<p id="correct-answer">Back</p>
			</div>
		</div>
	</div>
</div>
<div class="center">
	<input type="text" name="answer" id="answer" placeholder="Type your answer here" autofocus autocomplete="off">
</div>
<div class="center">
	<button onclick="flipCard()" class="button-large" id="submit">Check</button>
	<button onclick="nextCard()" class="button-large" id="next" disabled>Next</button>
</div>
<div class="center">
	<button onclick="window.location='/decks/<%= @deck.id %>'" class="button-small">Stop studying</button>
</div>