<div class="center">
	<button onclick="study()" type="button" id="begin">Begin</button>
</div>
<div class="flashcard" id="flashcard">
	
</div>
<input type="text" placeholder="Enter your answer here" id="answer">
<button onclick="checkAnswer()" id="check" disabled>Check</button>