<h1>Log in</h1>
<%= @error_message %>
<form action="/users/login" method="POST">
	<label for="username">Enter your username here: </label>
	<input type="text" name="username" id="username">
	<label for="password">Enter your password here:</label>
	<input type="password" name="password" id="password">
	<input type="submit" value="Log In!">
</form>