<div class="error-message center">
	<% if @error_message %>
		<p>Oops!  There seems to be a problem with your username and/or password.  Please try again or <a href="/users/new" class="error-message">Register</a>.</p>
	<% end %>
</div>
<form action="/users/login" method="POST" autocomplete="off">
	<div class="center">
		<label for="username" class="accessible-hidden">Enter your username here: </label>
		<input type="text" name="username" id="username" placeholder="Enter your username here" required="" autofocus>
		<label for="password" class="accessible-hidden">Enter your password here:</label>
		<input type="password" name="password" id="password" placeholder="Enter your password here" required="">
	</div>
	<div class="center">
		<input type="submit" value="Log In!">
	</div>
</form>