<h1>Create an account!</h1>
<%= @error_message %>
<form action="/users" method="POST" autocomplete="off">
	<label for="username">Create a username: </label>
	<input type="text" name="username" id="username">
	<label for="password">Choose a password: </label>
	<input type="password" name="password" id="password">
	<input type="submit" value="Register">
</form>