<h1>Add a card</h1>

<form action="/cards/new" method="POST">
	<label for="front">What should the question (front of card) say? </label>
	<input type="text" name="front" id="front">
	<label for="back">What is the correct answer (back of card)?</label>
	<input type="text" name="back" id="back">
	<label for="choice_type">Is this card multiple choice or input answer? </label>
	<input type="text" name="choice_type" id="choice_type">
	<input type="submit" value="CREATE IT">
</form>