<div class="center">
	<h1>Hmmmmmmm.....</h1>
</div>
<div class="error-text center-column">
	<h2>That card doesn't exist</h2>
	<h2>那个卡片不存在</h2>
	<h2>Wala ang card iyon</h2>
	<h2>Эта карta не существует</h2> 
	<h2>Kaadị ahụ adịghị</h2>
	<h2>해당 카드가 존재하지 않습니다</h2>
	<h2>Kadi hiyo haipo</h2>
	<h2>Cette carte n'existe pas</h2>
	<h2>ไม่มีการ์ดใบนั้น</h2>
	<button onclick="window.location='/users/<%= @user.id %>'" autofocus>Take me back</button>
	
</div>