<!DOCTYPE html>
<html>
<head>
	<title>Ka Pian</title>
	<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<!-- <base href="/"> -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:700,900&display=swap&subset=chinese-traditional" rel="stylesheet" type="css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	
</head>
<body>
	<header>

		
		<nav>

			<div class="nav-logo chinese">
				<% @home ||= false %>
				<%  if !@home %>
				卡片
				<% end %>
			</div>
			<div class="nav-links">
				<% @user ||= false %>
				<%  if !!@user %>
				<button onclick='window.location="/";' class="button-small">
					Home
				</button>
				<button onclick='window.location="/users/logout %>";' class="button-small">
					Logout
				</button>
				<% end %>
			</div>
			
		</nav>
	</header>
	<div id="main-container">
		<%= yield %>
	</div>
	<footer>
		the footer goes here
	</footer>
</body>
</html>