<!DOCTYPE html>
<html>
<head>
	<title>Ka Pian</title>
</head>
<body>
	<header>

		<nav>
			navbar goes here
			<a href="/">Home</a>
			<% if @user %>
			<form action="/users/logout" method="POST"><input type="submit" value="Logout"></form>
			<% end %>
		</nav>
	</header>
<%= yield %>
	<footer>
		the footer goes here
	</footer>
</body>
</html>