<!DOCTYPE html>
<html>
<head>
	<title>Ka Pian</title>
	<link rel="icon" type="image/png" sizes="16x16" href="/public/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
</head>
<body>
	<header>

		<nav>
			navbar goes here
			<% @user ||= false %>
			<%  if !!@user %>
			<a href="/">Home</a>
			<% end %>
			

			<% if @user %>
			<a href="/users/logout">Logout</a>
			<% end %>
		</nav>
	</header>
<%= yield %>
	<footer>
		the footer goes here
	</footer>
</body>
</html>