<!DOCTYPE html>
<html>
<head>
	<title>Ka Pian</title>
</head>
<body>
	<header>

		<nav>
			the navbar goes here	
		</nav>
	</header>
<%= yield %>
	<footer>
		the footer goes here
	</footer>
</body>
</html>