<div class="center">
	<h1>Hmmmmmmm.....</h1>
</div>
<div class="center-column error-text">
	<h2>That page doesn't exist</h2>
	<h2>那个页面不存在</h2>
	<h2>Wala ang pahinang iyon</h2>
	<h2>Эта страница не существует</h2>
	<h2>Ibe ahụ adịghị</h2>
	<h2>해당 페이지가 존재하지 않습니다</h2>
	<h2>Ukurasa huo haupo</h2>
	<h2>Cette page n'existe pas</h2>
	<h2>หน้านั้นไม่มีอยู่</h2>
	<button onclick="window.location='/users/<%= @user.id %>'" autofocus>Take me back</button>
</div>