
<div id="primary-logo-container" class="center">
	<div id="main-logo-left-chin" class="primary-logo chinese logo-left">卡</div>
	<div id="main-logo-right-chin" class="primary-logo chinese logo-right">片</div>	
</div>
<div id="secondary-logo-container" class="center">
	<div id="main-logo-left-eng" class="secondary-logo logo-left">KA</div>
	<div id="main-logo-right-eng" class="secondary-logo logo-right">PIAN</div>	
</div>

<div class="center">
	<button onclick="window.location='/users/login';" class="button-large">Already have an account? Click here.</button>
	<button onclick="window.location='/users/new';" class="button-large">If not, click here to create one.</button>	
</div>

